@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Poppins&family=Quicksand:wght@300;400&family=Roboto&family=Source+Code+Pro:ital,wght@0,400;1,300&family=Trispace&display=swap'); 

.whole{
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
}
.hdng{
    font-size: 35px;
    color: white;

    margin-bottom: 50px;
    margin-left: 630px;
    /* margin-right: 100px; */
}
.grn{
    color: #FFD700;
    font-weight: 500;
}
.details-view{
    background-color: #022C43;
    border: 1px none;
    border-radius: 10px;
    box-shadow: 4px 4px 10px #06283d33;
   height: 618px;
   width: 910px;
   -ms-flex: 70%; 
  flex: 40%;
}

.rectangle-5{
    /* background-color: rgba(5,63,94,0.3); */
    border: 1px none;
    border-radius: 10px;
    height: 145px;
    left: 0;
    position: absolute;
    top: 40px;
    width: 856px;
    margin-left: 15px;
}
.rectangle-5:hover{
   background-color: rgba(5,63,94,0.3);
   border: 1px none;
    border-radius: 10px;
    box-shadow: 4px 4px 10px #06283d33;
}

.rectangle-5.rectangle-6{
    height: 159px;
    top: 0;
}

.stages-and-timelines{
    align-items: flex-start;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    min-height: 366px;
    width: 866px;
}

.overlap-group1{
    height: 195px;
    margin-top: 5px;
    position: relative;
    width: 856px;
}

.sih-stages-and-timelines{
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 277px;
}

.firstRound{
    left: 17px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 54px;
    width: 277px;
    margin-left: 10px;
}

.this-will-be-a-submit
{
    left: 17px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: justify;
    top: 85px;
    width: 801px;
}
.thirdRound{
    left: 17px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: justify;
    top: 10px;
    width: 167px;
    margin-left: 10px;
}

.overlap-group {
    border-radius: 10px;
    height: 159px;
    position: relative;
    width: 856px;
}
.overlap-group0{
    border-radius: 10px;
    height: 700px;
    position: relative;
    width: 856px;
}

.secondRound
{
    left: 17px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 20px;
    width: 167px;
    margin-left: 10px;
}



.the-top-10-selected{
    left: 17px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: justify;
    top: 45px;
    width: 801px;
}

.the-top-20-selected{
    left: 17px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: justify;
    top: 35px;
    width: 801px;
}



.productsans-bold-daintree-22px{
    color: #FFD700;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 700;
    font-style: normal;
}

.productsans-bold-boston-blue-18px
{
    color: #FFD700;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 200;
    /* font-style: normal; */
    /* display: none; */
}

.productsans-bold-shark-16px
{
    color:#FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    /* font-style: normal; */
    margin-left: 10px;
}
.fakeimg{
    height: 40px;
    background-color: #aaa;
    width: 100%;
    padding: 10px;
}
.fakeimg1{
    height: 200px;
    background-color: #aaa;
    width: 100%;
    padding: 10px;
}

.side{
    background-color: #022C43;
    border: 1px none;
    border-radius: 10px;
    box-shadow: 4px 4px 10px #06283d33;
    margin-left: 10px;
   height: 618px;
   width: 180px;
}



.row {  
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
  }

  .side {
    -ms-flex: 20%; 
    flex: 20%;
    box-shadow: 4px 4px 10px #06283d33 ;
    padding: 20px;
  }

  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }

  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }

