.footer {
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #022C43;
}
.footer > h1 {
  width: 900px;
  /* height: 100px; */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  margin:0vw 10vw 0vw 20vw;
  letter-spacing: 0.015em;

  color: rgba(255, 255, 255, 0.8);
}
.footer > button  {
  height: 10vh;
  width: 35vw;
  background: #FFD700;
  color: white;
  border-radius: 40px;
  margin-right: 10vw;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 2vw;
  line-height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.015em;
}
.footer > button:hover {
  cursor: pointer;
  background: #115173;
  border: 5px solid #9acdff;
  color: #ffffff;
}
.footer1 {
  width: 100%;
  height: 501px;
  background: #022C43;
}
.footerpart1 {
    width: 100%;
  display: flex;
 align-items: center;
 justify-content: center;
}
.footerpart1 > ul {
  display: flex;
  list-style: none;
  padding-top: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.015em;
  color: #ffffff;
}
.footerpart1 > ul > li{
    margin-right: 5vw;
}
.footerpart2{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
    color: white;
    letter-spacing: 0.05rem;
}
